{lib_dirs,["deps"]}.
{sub_dirs, ["rel"]}.
{src_dirs, ["src", "test"]}.
{dialyzer_opts, [src]}. 
{excl_archive_filters, [".*"]}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
	 {'log4erl', ".*", 		{git, "git://github.com/ahmednawras/log4erl.git", "master"}},
	 {'resource_discovery', ".*", 	{git, "git@github.com:RomanShestakov/resource_discovery.git", "master"}}
       ]}.    

{post_hooks, [{compile, "cp ./src/ec_logger.config ./ebin/ec_logger.config"}]}.
